<%- model_class = ServOffer -%>
<div class="page-header">
  <form class="form-inline" role="form" action="/conditions_query/serv_offers" method="get">
    <div class="form-group">
      <label class="control-label" for="q_id">ID：</label>
      <input type="text" size="4" class="form-control" name="q_id" id="q_id" placeholder="ID" value='<%= @q_id if @q_id %>'/>
      <label class="control-label" for="q_user_id">用户ID：</label>
      <input type="text" size="4" class="form-control" name="q_user_id" id="q_user_id" placeholder="用户ID" value='<%= @q_user_id if @q_user_id %>'/>
      <label class="control-label" for="q_serv_title">服务名称：</label>
      <input type="text" size="14" class="form-control" name="q_serv_title" id="q_serv_title" placeholder="服务名称" value='<%= @q_serv_title if @q_serv_title %>'/>
      <label class="control-label" for="q_serv_detail">服务详情：</label>
      <input type="text" size="14" class="form-control" name="q_serv_detail" id="q_serv_detail" placeholder="服务详情" value='<%= @q_serv_detail if @q_serv_detail %>'/>
      <label class="control-label" for="q_created_at">创建时间：</label>
      <input type="text" size="12" class="form-control" name="q_created_at" id="q_created_at" placeholder="创建时间" value='<%= @q_created_at if @q_created_at %>'/>
      <input type="submit" class="btn btn-primary" value="查找"/>
    </div>
  </form>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</yout：fixeddiv>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:serv_title) %></th>
      <th><%= model_class.human_attribute_name(:serv_detail) %></th>
      <th><%= model_class.human_attribute_name(:serv_imges) %></th>
      <th><%= model_class.human_attribute_name(:serv_catagory) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody style="word-break:break-all;">
    <% @serv_offers.each do |serv_offer| %>
      <tr>
        <td><%= link_to serv_offer.id, serv_offer_path(serv_offer) %></td>
        <td><%= serv_offer.serv_title %></td>
        <td><%= serv_offer.serv_detail %></td>
        <td style='width:18% !important;'><image class="media-object" src="<%= serv_offer.serv_imges %>"/></td>
        <td><%= serv_offer.serv_catagory %></td>
        <td><%= serv_offer.user_id %></td>
        <td><%=l serv_offer.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      serv_offer_path(serv_offer), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_serv_offer_path(serv_offer), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      serv_offer_path(serv_offer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @serv_offers %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_serv_offer_path,
            :class => 'btn btn-primary' %>
