<td><%= @goods_show.user.name %></td>
<td><%= @goods_show.created_at %></td>
<td><%= @goods_show.serv_detail %></td>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UkGlS1os9PpxMQ7l38Ov11AiWXHZrzOR"></script>
	<!-- 加载百度地图样式信息窗口 -->
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
	<title>附近门店</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,12);
	var mypoint ;
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			mypoint = r.point;
			var mk = new BMap.Marker(r.point);
			var latCurrent = r.point.lat;  
            var lngCurrent = r.point.lng;  
			// map.addOverlay(mk);//您的位置加标注
			map.panTo(r.point);
			// alert('您的位置：'+r.point.lng+','+r.point.lat);

			// customLayer=new BMap.CustomLayer({
			// 	geotableId: 170620,
			// 	q: '', //检索关键字
			// 	tags: '', //空格分隔的多字符串
			// 	filter: '' //过滤条件,参考http://developer.baidu.com/map/lbs-geosearch.htm#.search.nearby
			// 	}
			// );

			// customLayer.addEventListener('hotspotclick',callback);

			// map.addTileLayer(customLayer);	
			

			
			var china_unicom_gz_p1 = new BMap.Point(<%= @goods_show.longitude %>,<%= @goods_show.latitude %>);
			var marker_china_unicom_gz_1 = new BMap.Marker(china_unicom_gz_p1); 
			var label = new BMap.Label("商品目标点",{offset:new BMap.Size(20,-10)});
			marker_china_unicom_gz_1.setLabel(label);
			marker_china_unicom_gz_1.addEventListener("click",attribute1);
			map.addOverlay(marker_china_unicom_gz_1);    //增加点	

			function attribute1(){
				var p = marker_china_unicom_gz_1.getPosition();  //
				// var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true}});
				// driving.search(mypoint, p );	

				location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  			

			}

/*
			var china_unicom_gz_p2 = new BMap.Point(113.300988,23.141692);
			var marker_china_unicom_gz_2 = new BMap.Marker(china_unicom_gz_p2); 
			var labe2 = new BMap.Label("(先烈营业厅)",{offset:new BMap.Size(20,-10)});
			marker_china_unicom_gz_2.setLabel(labe2);
			marker_china_unicom_gz_2.addEventListener("click",attribute2);
			map.addOverlay(marker_china_unicom_gz_2);    //增加点	

			function attribute2(){
				var p = marker_china_unicom_gz_2.getPosition();  //
				// var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true}});
				// driving.search(mypoint, p);	

				location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  				

			}*/			
		}
		else {
			alert('failed'+this.getStatus());
		}        
	},{enableHighAccuracy: true})






	function callback(e)//单击热点图层
	{
		

	}




</script>
<script type="text/javascript">
$(document).ready(function(){  
  var needRefresh = sessionStorage.getItem("sub-need-refresh");
  if(needRefresh){
      sessionStorage.removeItem("sub-need-refresh");
      location.reload();
  }

  sessionStorage.setItem("need-refresh", true);  
})
</script>	