<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html {width: 100%;height: 100%;overflow: scroll;margin:0;font-family:"微软雅黑";}
	#wrapper{position: relative;width: 100%;height: 300px;overflow: hidden;}
  	#banner{position:relative;width: 100%;height: 300px;overflow: hidden;}
	.imgList{position:relative;width:2000px;height:300px;z-index: 10;padding-left: 0px; overflow: hidden;}
	.imgList li{float:left;display: inline;}
	#prev,
	#next{position: absolute;top:140px;z-index: 20;cursor: pointer;opacity: 0.2;filter:alpha(opacity=20);}
	#prev{left: 10px;}
  	#next{right: 10px;}
  	#prev:hover,
  	#next:hover{opacity: 0.5;filter:alpha(opacity=50);}
  	.bg{position: absolute;bottom: 0;width: 100%;height: 40px;z-index:20;opacity: 0.4;filter:alpha(opacity=40);background: black;}
  	.indexList{position: absolute;right: 5px;bottom: -8px;z-index: 30;}
  	.indexList li{float: left;margin-right: 5px;padding: 2px 4px;cursor: pointer; color: white}
  	.indexList .indexOn{color: red;}
	#allmap{
		width: 100%;
		height: 150px;
		border-radius: 4px
	}
	.container{
		margin: 16px;
		overflow:scroll;
	}
	.avatar-warpper{
        width:40px;
		height:40px;
		display:relative;
		float:left;
		overflow: hidden;
        border-radius: 20px;
    }
    .user-avatar{
	    min-width: 40px;
	  	max-height: 40px;
	  	height:auto;
	  	border-radius: 20px
	  }
  	.image-warpper{
    	width:100%;
		overflow: hidden;
		margin-bottom: 20px;
    }
    .serv-image{
	    min-width: 80%;
	  	height:auto;
	}
	.span{
		float: right;
		font-size: 12px;
		color: #B8B8B8;
		line-height: 18px;
	}
	.download{
		background-color: rgba(24,24,24,0.7);
		padding: 8px 15px;
		position: relative;
		height: 40px
	}
	.button{
		background-color: #FFC400;
		border: 0;
		color: white;
		height: 32px;
		width: 72px;
		border-radius: 4px;
		display: inline-block;
		position: absolute;
		right: 20px;
		bottom: 12px;
	}
	.connect{
		background-color: #FFC400;
		color: white;
		height: 40px,
		width:100px;
		padding: 10px
	}
	.more {
		color: white; 
		font-size: 14px; 
		display: inline-block; 
		position: absolute; 
		right: 20px;
		line-height: 30px;
	}
	.title {
		color: white; 
		font-size: 18px; 
		display: inline-block;
	}

	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UkGlS1os9PpxMQ7l38Ov11AiWXHZrzOR"></script>
	<!-- 加载百度地图样式信息窗口 -->
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
	<title>Qiker</title>
</head>
<body>
	<div style="background-color: #4A90E2;">
		<div class="download">
			<img src="assets/img/qike.png" width="40px" height="40px" style="vertical-align: middle;" />
			<div style="color: white;margin-left: 8px; display: inline-block;">发现无限奇才</div>
			<button class="button">下载</button>
		</div>
	</div>
	<div class="container">
		<div class="avatar-warpper">
         <%= image_tag(@goods_show.user.avatar,:class=>"user-avatar") %>
        </div>
        <div style="margin-left: 48px">
        	<p style="height: 20px;margin:0">
	        	<span style="font-size: 14px"><%= @goods_show.user.name %></span>
	        	<span class="span"><%= @goods_show.created_at.strftime('%Y/%m/%d') %></span>
	        </p>
        	<p style="font-size: 12px;height: 18px;margin:0;color: #999999"><span><%= @goods_show.catalog %></span></p>
        </div>
        <div>
        	<p><span><%= @goods_show.serv_detail %></span></p>
        </div>

        <div class="image-warpper">
        	<%if @goods_show.serv_images.present? %>
          		<% img = @goods_show.serv_images %>
          		<% img = img.split(%r{,\s*})%>
        	<%else%>
          		<% img = [""]%>
        	<%end%>
        	<%if img.length > 1 %>
        		<body>
				    <div id="banner"><!-- 轮播部分 -->
				      <ul class="imgList"><!-- 图片部分 -->
				        <%img.each do |img|%>
				          <li><a href="#"><img src=<%=img%> width="100%" height="300px" alt="puss in boots1"></a></li>
				        <%end%>
				      </ul>
				      <img src="/assets/img/prev.png" width="20px" height="40px" id="prev">
				      <img src="/assets/img/next.png" width="20px" height="40px" id="next">
				       <div class="bg"></div> <!-- 图片底部背景层部分 -->
				      <ul class="indexList"><!-- 图片右下角序号部分 -->
				        <%img.each_with_index do |img,index|%>
				          <li></li>
				        <%end%>
				      </ul>
				    </div>
				  	<script type="text/javascript">
					  	var curIndex = 0, //当前index
					    imgLen = $(".imgList li").length; //图片总数
					    $(".indexList").find("li").removeClass("indexOn").eq(0).addClass("indexOn");
					    var width = [];
					    for (var i = 0; i < imgLen; i++) {
					    	//图片自适应屏幕宽度
					    	($(".imgList li img")[i].width) = $(window).width();
					    	width[i] = ($(".imgList li img")[i].width);
					    }
					  //左箭头点击处理
					  $("#prev").click(function(){ 
					    //根据curIndex进行上一个图片处理
					    curIndex = (curIndex > 0) ? (--curIndex) : (imgLen - 1);
					    changeTo(curIndex);
					  });
					  //右箭头点击处理
					  $("#next").click(function(){ 
					    curIndex = (curIndex < imgLen - 1) ? (++curIndex) : 0;
					    changeTo(curIndex);
					  });
					  //对右下角按钮index进行事件绑定处理等
					  // $(".indexList").find("li").each(function(item){ 
					  //   $(this).hover(function(){ 
					  //     //clearInterval(autoChange);
					  //     changeTo(item);
					  //     curIndex = item;
					  //   });
					  // }); 
					  function changeTo(num){
					  	var goLeft = 0;
					  	for (var i = 0; i < num; i++)  goLeft += width[i];
					    $(".imgList").animate({left: "-" + goLeft + "px"},500);
					    $(".indexList").find("li").removeClass("indexOn").eq(num).addClass("indexOn");
					  }
					</script>
				  <%else%>
				  <image class="image-warpper" src="<%= @goods_show.serv_images %>" width="360px" height= "300px"/>
				  <%end%>
				</body>
			</div>


        <div style="font-size: 14px; color: #999999; margin-bottom: 10px">远程或附近</div>
        <div style="width: 100%; height: 150px; border-radius: 4px">
			<div id="allmap"></div>
		</div>
	</div>
	<div class="connect">
		<div style="text-align: center">立即沟通</div>
	</div>
</body>
</html>
<script type="text/javascript">
    document.ready = function (callback) {
            ///兼容FF,Google
            if (document.addEventListener) {
                document.addEventListener('DOMContentLoaded', function () {
                    document.removeEventListener('DOMContentLoaded', arguments.callee, false);
                    callback();
                }, false)
            }
             //兼容IE
            else if (document.attachEvent) {
                document.attachEvent('onreadystatechange', function () {
                      if (document.readyState == "complete") {
                                document.detachEvent("onreadystatechange", arguments.callee);
                                callback();
                       }
                })
            }
            else if (document.lastChild == document.body) {
                callback();
            }
}

document.ready(function () {

	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(113.293414,23.022078);
	map.centerAndZoom(point,12);
	var mypoint ;
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			mypoint = r.point;
			var mk = new BMap.Marker(r.point);
			var latCurrent = r.point.lat;  
            var lngCurrent = r.point.lng;  
			// map.addOverlay(mk);//您的位置加标注
			map.panTo(r.point);
			
			var china_unicom_gz_p2 = new BMap.Point(<%= @goods_show.longitude %>,<%= @goods_show.latitude %>);
			var marker_china_unicom_gz_2 = new BMap.Marker(china_unicom_gz_p2); 
			var labe2 = new BMap.Label("服务地点",{offset:new BMap.Size(20,-10)});
			marker_china_unicom_gz_2.setLabel(labe2);
			marker_china_unicom_gz_2.addEventListener("click",attribute2);
			map.addOverlay(marker_china_unicom_gz_2);    //增加点	

			function attribute2(){
				var p = marker_china_unicom_gz_2.getPosition();  

				location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  				

			}		
		}
		else {
			alert('failed'+this.getStatus());
		}        
	},{enableHighAccuracy: true})


	function callback(e)//单击热点图层
	{
		

	}

});
</script>	