<%= form_for @sys_msg, :html => { :class => "form-horizontal sys_msg" } do |f| %>

  <% if @sys_msg.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sys_msg.errors.count, "error") %> prohibited this sys_msg from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sys_msg.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_name) %>
  </div>
  <div class="form-group">
    <%= f.label :action_title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :action_title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:action_title) %>
  </div>
  <div class="form-group">
    <%= f.label :action_desc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :action_desc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:action_desc) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :msg_catalog, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "sys_msg[msg_catalog]", options_for_select(@catalog_list, selected=@catalog_selected),{:class => "form-control", :disabled => "disabled"} %>
    </div>
    <%=f.error_span(:msg_catalog) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "sys_msg[status]", options_for_select(@status_list, selected=@status_selected),{:class => "form-control", :disabled => "disabled"} %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :accept_users_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "sys_msg[accept_users_type]", options_for_select(@accept_users_type_list, selected=@accept_users_type_selected),{:class => "form-control"} %>
    </div>
    <%=f.error_span(:accept_users_type) %>
  </div>
  <div class="form-group hidden" id = "sys_msg_users_div">
    <%= label_tag '','指定用户', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= text_field_tag('[sys_msg]accept_users', '', {:class => 'form-control', :placeholder => "输入用户id,用','分隔"}) %>
    </div>
  </div>
  <div class="form-group hidden" id = "sys_msg_cities_div">
    <%= label_tag '','指定城市', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= text_field_tag('[sys_msg]accept_cities', '', {:class => 'form-control', :placeholder => "输入城市名,用','分隔"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sys_msgs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
