<%- model_class = SmsSend -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:recv_num) %></th>
      <th><%= model_class.human_attribute_name(:send_content) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:sms_type) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sms_sends.each do |sms_send| %>
      <tr>
        <td><%= link_to sms_send.id, sms_send_path(sms_send) %></td>
        <td><%= sms_send.recv_num %></td>
        <td><%= sms_send.send_content %></td>
        <td><%= sms_send.state %></td>
        <td><%= sms_send.sms_type %></td>
        <td><%= sms_send.user.name if sms_send.user %></td>
        <td><%=l sms_send.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      sms_send_path(sms_send), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sms_send_path(sms_send), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sms_send_path(sms_send),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sms_sends %>
<br/>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sms_send_path,
            :class => 'btn btn-primary' %>
