<%- model_class = SmsSend -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:recv_num) %>:</strong></dt>
  <dd><%= @sms_send.recv_num %></dd>
  <dt><strong><%= model_class.human_attribute_name(:send_content) %>:</strong></dt>
  <dd><%= @sms_send.send_content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @sms_send.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sms_type) %>:</strong></dt>
  <dd><%= @sms_send.sms_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sms_sends_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sms_send_path(@sms_send), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sms_send_path(@sms_send),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
