<%= form_for(@goods_search,html: {:class=>'form-inline',:role=>'form' }) do |f| %>
  <div class="form-group">
	<%= f.label :'商品id：'%>
	<%= f.text_field :serv_id, class: 'form-control',:size=>1%>
	<%= f.label :'用户id：'%>
	<%= f.text_field :user_id, class: 'form-control',:size=>1%>
	<%= f.label :'商品名称：'%>
	<%= f.text_field :serv_title, class: 'form-control',:size=>10%>
	<%= f.label :'商品详情：'%>
	<%= f.text_field :serv_detail,class: 'form-control',:size=>10%>
	<%= f.label :'商品类型：'%>
	<%= f.text_field :serv_catagory, class: 'form-control',:size=>10%>
	<%= f.label :'创建时间：'%>
	<%= f.text_field :serv_created, class: 'form-control date-picker', :size=>10%>
  </div>
  <%= f.submit :'查找', :class => 'btn btn-primary' %>
<% end %>
