<%- model_class = Good -%>
<div class="page-header">
  <%=render 'goods/search'%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</yout：fixeddiv>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name(:serv_title) %></th>
      <!-- <th><%= model_class.human_attribute_name(:serv_detail) %></th> -->
      <th><%= model_class.human_attribute_name(:serv_images) %></th>
      <th><%= model_class.human_attribute_name(:serv_catagory) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>状态</th>
      <th>失效/发布</th><!-- 
      <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <!-- <td><%= link_to good.id, good_path(good) %></td> -->
        <td><%= good.serv_title %></td>
        <!-- <td><%= good.serv_detail %></td> -->
        <td><image class="media-object" src="<%= good.serv_images %>"/></td>
        <td><%= good.serv_catagory %></td>
        <td><%= good.user.name %></td>        
        <td><%= good.created_at.strftime('%Y-%m-%d')
 %></td>
        <td>
          <% if good.status == '00A' %>未审核<%end%>  
          <% if good.status == '00B' %>审核通过<%end%>  
          <% if good.status == '00X' %>审核否决<%end%>          
        </td>
        <td>
          <button type="button" class="btn btn-warning btn-xs mr5 lock-good-btn"  data-good=<%= good.id %> data-status=<%= good.status %>  >
            <% if good.status == '00A' %><span class='lock-text'>同意发布</span><%end%>
            <% if good.status == '00B' %><span class='lock-text'>不同意发布</span><%end%> 
            <% if good.status == '00X' %><span class='lock-text'>同意发布</span><%end%> 
          </button>
        </td>
        <!-- <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      good_path(good),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @goods %>
<br/>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_good_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
  $(document).ready(function(){
        $('.lock-good-btn').click(function() {
          var status, that, url, good_id;
          that = $(this);
          good_id = $(this).data('good');
          status = $(this).data('status');
          if (status === '00A') {
            status = '00B';
          }else if (status === '00X') {
            status = '00B';
          }else if (status === '00B') {
            status = '00X';
          }
          url = '/goods/' + good_id + '.json';
          return $.ajax(url, {
            type: 'patch',
            dataType: 'json',
            data: {
              good: {
                status: status
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              return console.log("AJAX Error: " + textStatus);
            },
            success: function(data, textStatus, jqXHR) {
              // that.data('status', status);
              // if (status === '00A') {
              //   that.children('.unlock-text').hide();
              //   return that.children('.lock-text').show();
              // } else if (status === '00X') {
              //   that.children('.lock-text').hide();
              //   return that.children('.unlock-text').show();
              // }
              location.reload();
            }
          });
        });
  })
</script>
