<%- model_class = Good -%>
<div class="page-header">
  <%=render 'goods/search'%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</yout：fixeddiv>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:serv_title) %></th>
      <th><%= model_class.human_attribute_name(:serv_detail) %></th>
      <th><%= model_class.human_attribute_name(:serv_imges) %></th>
      <th><%= model_class.human_attribute_name(:serv_catagory) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody style="word-break:break-all;">
    <% @goods.each do |good| %>
      <tr>
        <td><%= link_to good.id, good_path(good) %></td>
        <td><%= good.serv_title %></td>
        <td><%= good.serv_detail %></td>
        <td style='width:18% !important;'><image class="media-object" src="<%= good.serv_imges %>"/></td>
        <td><%= good.serv_catagory %></td>
        <td><%= good.user_id %></td>
        <td><%=l good.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_good_path(good), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      good_path(good),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @goods %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_good_path,
            :class => 'btn btn-primary' %>
