<%- model_class = Deal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:serv_offer_title) %>:</strong></dt>
  <dd><%= @deal.serv_offer_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serv_offer_id) %>:</strong></dt>
  <dd><%= @deal.serv_offer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:offer_user_id) %>:</strong></dt>
  <dd><%= @deal.offer_user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_user_id) %>:</strong></dt>
  <dd><%= @deal.request_user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @deal.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:connect_time) %>:</strong></dt>
  <dd><%= @deal.connect_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deal_time) %>:</strong></dt>
  <dd><%= @deal.deal_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finish_time) %>:</strong></dt>
  <dd><%= @deal.finish_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              deals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deal_path(@deal), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deal_path(@deal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
