<%= form_for @goods_catalog, :html => { :class => "form-horizontal goods_catalog" } do |f| %>

  <% if @goods_catalog.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@goods_catalog.errors.count, "error") %> prohibited this goods_catalog from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @goods_catalog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>
  <div class="form-group">
    <%= f.label :parent_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	  <%
	    if @goods_catalog.parent
		  parent = @goods_catalog.parent
		  parent = [parent.name,parent.id,{ 'data-level' =>parent.level }]
		else
		  parent = ['无',nil,{'data-level' =>-1}]
		end
	  %>
	  <%= select_tag "goods_catalog[parent_id]", 
	  options_for_select([['无',nil,{'data-level' =>-1}]]+GoodsCatalog.all.map{ |c| [c.name,c.id, { 'data-level' =>c.level }]}, selected=parent), 
	  {:class =>"form-control"} %>
    </div>
    <%=f.error_span(:parent_id) %>
  </div>
  <div class="form-group">
    <%= f.label :level, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :level, :class => 'form-control', :readonly => 'readonly' %>
    </div>
    <%=f.error_span(:level) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                goods_catalogs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
