<%- model_class = GoodsCatalog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container-fiuid">
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th><%= model_class.human_attribute_name(:id) %></th>
		  <th><%= model_class.human_attribute_name(:name) %></th>
		  <th><%= model_class.human_attribute_name(:image) %></th>
		  <th><%= model_class.human_attribute_name(:level) %></th>
		  <th><%= model_class.human_attribute_name(:parent_id) %></th>
		  <th><%= model_class.human_attribute_name(:ancestry) %></th>
		  <th><%= model_class.human_attribute_name(:created_at) %></th>
		  <th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	  </thead>
	  <tbody>
		<% @goods_catalogs.each do |goods_catalog| %>
		  <tr>
			<td><%= link_to goods_catalog.id, goods_catalog_path(goods_catalog) %></td>
			<td><%= goods_catalog.name %></td>
			<td><%= goods_catalog.image %></td>
			<td><%= goods_catalog.level %></td>
			<td><%= goods_catalog.parent.name if goods_catalog.parent %></td>
			<td><%= goods_catalog.ancestry %></td>
			<td><%=l goods_catalog.created_at %></td>
			<td>
			  <%= link_to t('.show', :default => t("helpers.links.show")),
						  goods_catalog_path(goods_catalog), :class => 'btn btn-default btn-xs' %>
			  <%= link_to t('.edit', :default => t("helpers.links.edit")),
						  edit_goods_catalog_path(goods_catalog), :class => 'btn btn-default btn-xs' %>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
						  goods_catalog_path(goods_catalog),
						  :method => :delete,
						  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						  :class => 'btn btn-xs btn-danger' %>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>
<div class="container-fluid">
	<div id="jsoneditor" class="col-sm-12" style="margin:20px auto 20px;" ></div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_goods_catalog_path,
            :class => 'btn btn-primary' %>
