<%- model_class = GoodsCatalog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @goods_catalog.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag(@goods_catalog.image) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level) %>:</strong></dt>
  <dd><%= @goods_catalog.level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent) %>:</strong></dt>
  <dd><%= @goods_catalog.parent.name+"(id=#{@goods_catalog.parent_id})" if @goods_catalog.parent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ancestry) %>:</strong></dt>
  <dd><%= @goods_catalog.ancestry %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              goods_catalogs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_goods_catalog_path(@goods_catalog), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              goods_catalog_path(@goods_catalog),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if @goods_catalog.id != @root_id %>
