<%= form_for @target_user,:url=>{ :controller => "admin_users", :action => "update"}, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @target_user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
	    <h3 class="panel-title"><%= pluralize(@target_user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @target_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2'  %>
	  <div class="col-lg-10">
        <%= f.text_field :email, :class => 'form-control'  %>
	  </div>
	<%=f.error_span(:email) %>
  </div>

   <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2'  %>
	  <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control'  %>
	  </div>
	<%=f.error_span(:name) %>
   </div>

   <div class="form-group">
    <%= f.label :password, :class => 'control-label col-lg-2'  %>
	  <div class="col-lg-10">
        <%= f.password_field :password, :class => 'form-control', :placeholder => "不想更改的话不需要填写" %>
	  </div>
	<%=f.error_span(:password) %>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'control-label col-lg-2'  %>
	  <div class="col-lg-10">
        <%= f.password_field :password_confirmation, :class => 'form-control',:placeholder => "不想更改的话不需要填写" %>
	  </div>
	<%=f.error_span(:password) %>
  </div>

   <div class="form-group">
     <%= f.label :admin, :class => 'control-label col-lg-2'  %>
	   <div class="col-lg-10">
         <%= f.check_box :admin %>
	   </div>
	 <%=f.error_span(:admin) %>
  </div>
  
   <div class="form-group">
     <%= f.label :level, :class => 'control-label col-lg-2'  %>
	   <div class="col-lg-10">
         <%= select_tag "user[level]", options_for_select(@level_list, selected=@target_user.level),{:class => "form-control"} %>
	   </div>
	 <%=f.error_span(:admin) %>
   </div>

   <div class="form-group">
     <%= f.label :avatar, :class => 'control-label col-lg-2'  %>
	 <div class="col-lg-10">
       <%= f.file_field :avatar_file, :class => 'form-control' %>
	   <%= f.hidden_field :avatar %>
	</div>
	<%=f.error_span(:avatar) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.button nil, class: 'btn btn-primary' ,onclick: 'submitFormWithImage("user","user_avatar_file","user_avatar")' ,type: 'button' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
